{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}{% endblock %}</title>
 <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
 <div id="header">
 <span class="logo">Bookmarks</span>
 
 {% if request.user.is_authenticated %}
 <ul class="menu">
 <li {% if section == "dashboard" %}class="selected"{% endif %}>
 <a href="{% url 'video_middleware:dashboard' %}">My dashboard</a>
 </li>
    </ul>
   
    <span class="user">
    
    Hello {{ request.user.first_name|default:request.user.username }},
    <form method="post" action="{% url 'video_middleware:logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
    
    {% else %}
    <a href="{% url 'video_middleware:login' %}">Log-in</a>
    <br>
    If you don't have an account <a href="{% url 'video_middleware:register' %}">register here</a>.
    </br>
    {% endif %}
    </span>

 </div>
 {% if messages %}
 <ul class="messages">
 {% for message in messages %}
 <li class="{{ message.tags }}">
 {{ message|safe }}
 <a href="#" class="close">x</a>
 </li>
 {% endfor %}
 </ul>
 {% endif %}

 <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>